body, html, .container {
    margin: 0;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

.library {
    flex: auto;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: center;
}

.rows {
    display: grid;
}

#title-span,
#author-span,
#pages-span {
    background-color: #d00;
    border-radius: 3px;
    text-align: center;
    margin: 5px 2px;
}

.hidden {
    display: none;
}